@model Hotel_Reservation.Models.UserProfile

@{
    ViewData["Title"] = "Register";
}



<head>
    <!-- Font Icon -->
    <link rel="stylesheet" href="~/sign_assets3/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/sign_assets3/css/style.css">
</head>

<body>
    @*from template*@
    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Register</h1>
            <nav aria-label="breadcrumb" >
                <ol class="breadcrumb justify-content-center text-uppercase" style="background-color:unset !important;">
                    <li class="breadcrumb-item"><a  asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a  asp-area="" asp-controller="LoginRegister" asp-action="Login">Login</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Register</li>
                </ol>
            </nav>
        </div>
    </div>
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form asp-action="Register" method="POST" class="register-form" id="register-form"  enctype="multipart/form-data">
                            <div class="form-group">
                                @*<label asp-for="FirstName" class="control-label"></label>*@
                                <input asp-for="FirstName" class="form-control" placeholder="First name" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                @*<label asp-for="LastName" class="control-label"></label>*@
                                <input asp-for="LastName" class="form-control" placeholder="Last name"/>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="username"><i class="zmdi"></i></label>
                                <input type="text" name="username" id="username" placeholder="Username"/>
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="Password"/>
                            </div>    
                            <div class="form-group">
                                @*<label asp-for="ImageFile" class="control-label"></label>*@
                                <input asp-for="ImageFile" class="form-control" />
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Create" />
                            </div>

                        </form>
</div>
                    <div class="signup-image">
                        <figure><img src="~/sign_assets3/images/signup-image.jpg" alt="sing up image"></figure>
                        <a asp-area="" asp-controller="LoginRegister" asp-action="Login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
            <!-- JS -->
    <script src="~/sign_assets3/vendor/jquery/jquery.min.js"></script>
    <script src="~/sign_assets3/js/main.js"></script>
</body>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
